.col-footer{
    padding: 0px;

    .btn-reset{
        margin: 0px;
        color: #fff;
        --color-activated: #fff;
        border-right: 1px solid #fff;
    }
    .btn-apply{
        margin: 0px;
        color: #fff;
        --color-activated: #fff;
        border-left: 1px solid #fff;
    }
}

.arrow-end{
    --padding-end: 6px !important;
}