<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="head">
      Add Brand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="addbrand_form" autocomplete="off"> 

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked" class="input-lbl">Brand Name</ion-label>
      <ion-input type="text" formControlName="name" color="primary" class="input-box boxes"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="addbrand_form.controls.name.hasError('required') && addbrand_form.controls.name.touched">
      <p class="content">Please Enter Brand Name!</p>
    </ion-item>

    <ion-item lines="none" class="item-dropdown add">
      <ion-label position="stacked" class="lbl-dropdown">Status</ion-label>
      <ion-select interface="action-sheet" formControlName="active" placeholder="Select Status" class="btn-select bg" mode="md">
        <ion-select-option value="1" selected>Active</ion-select-option>
        <ion-select-option value="2">Inactive</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="addbrand_form.controls.active.hasError('required') && addbrand_form.controls.active.touched">
      <p class="content">Please Select Brand Status!</p>
    </ion-item>

  </form>

</ion-content>

<ion-footer>
  <ion-button expand="full" class="btn-footer" (click)="addBrand()">Save</ion-button>
</ion-footer>