/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Muli';
    //font-weight: 300;
    font-style: normal;
    src: url('src/assets/fonts/muli/Muli.ttf');
}

@font-face {
    font-family: 'MuliBold';
    //font-weight: 300;
    font-style: normal;
    src: url('src/assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
    font-family: 'MuliSemiBold';
    //font-weight: 300;
    font-style: normal;
    src: url('src/assets/fonts/muli/Muli-SemiBold.ttf');
}

// .alert-checkbox-icon.sc-ion-alert-md{
//     left: 14px;
//     top: 0;
//     border-radius: 2px;
//     position: relative;
//     width: 16px;
//     height: 16px;
//     border-width: 2px;
//     border-style: solid;
//     border-color: var(--ion-color-step-550,#737373);
//     contain: strict;
// }

// .alert-checkbox-label.sc-ion-alert-md{
//     padding-inline-start: 26px;
//     padding-inline-end: 26px;
// }

// .alert-checkbox-label.sc-ion-alert-md{
//     padding-left: 19px;
//     padding-right: 26px;
//     padding-top: 11px;
//     padding-bottom: 13px;
//     -ms-flex: 1;
//     flex: 1;
//     color: var(--ion-color-step-850,#262626);
//     font-size: 14px;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

.blue-background{
    //position: absolute;
    width: 100%;
    height: 150px;
    //transform: rotate(68deg);
    //border: solid 1px #f1f1f1;
    background: var(--ion-color-primary);
    z-index: 0;
    bottom: 75%;
    //left: 17%;
    text-align: center;
    box-shadow: 0px 4px 10px #b1afaf;
}
ion-toolbar{
    --border-width: 0px !important;
}
ion-searchbar{
    --placeholder-color: #4e4d4d !important;
    --placeholder-opacity: 1 !important;

    .searchbar-input{
        text-indent: 5px;
        border-radius: 5px !important;
    }
    .searchbar-search-icon{
        opacity: 0.6 !important;
        width: 28px !important;
    }
}

.sc-ion-searchbar-ios-h {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    height: 38px !important;
}

.isEmpty{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

    .lbl-empty{
        font-size: 20px;
    }
}

// Fab Button
.btn-fab{
    font-weight: bold;
    //font-size: 13px;
}

//Filter Modal
.filter-modal{
    --height:60%;
    align-items:flex-end;
  }

// Border Error
ion-input.ng-invalid.ng-touched{
    border-bottom: 0.5px solid #d44848 !important;
}
ion-select.ng-invalid.ng-touched{
    border-bottom: 0.5px solid #d44848 !important;
}
ion-radio-group.ng-invalid.ng-touched{
    ion-radio{
    --color: #d44848;
    }
}
ion-textarea.ng-invalid.ng-touched{
    border-bottom: 0.5px solid #d44848 !important;
}

// Field Error
.validator-error{
    --background: transparent;
    color: #d44848;
    --min-height: 30px;

    .content{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px;
    }
}

// Label Logo
.lbl-logo{
    width: 225px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

// Bottom Button, Label
.btns-bottom{
    margin: 10% 0% 10% 0%;

    .lbl-signup{
        display: block;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }
    .btn-signin{
        //width: 75%;
        margin: auto;
        //margin-top: 30px;
        //color: #fff;
        font-weight: bold;
        //--color-activated: #fff;
        text-transform: none;
    }
}

// Menu Item
.menu-container{
    --background: #fff;

    .menu-toggle{

        .grey-background{
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(71deg);
            border: solid 1px #f1f1f1;
            background-color: #f1f1f1;
            z-index: 0;
            bottom: 69%;
            left: 18%;
        }   

        .card-profile{
            margin: 0px; 
            border-radius: 0px; 

            .profile-pic{
                width: 90%;
                display: block;
                text-align: center;
                margin: auto;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
        .menu-item{
            --background: #fff;
            color: #383a3e;

            .menu-item-icon{
                margin-right: 5px;
            }
        }
        .btn-logout{
            font-weight: bold;
            border: 1px solid #383a3e;
            margin: 5px 16px;
        }
    }
}

// Input Field
.input-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --background-activated: transparent;
    --background-focused: transparent;

    .input-lbl{
        font-weight: bold;
        color: #888;
        margin-bottom: 0;
    }
    .input-box{
        // background: #f1f1f1;
        //border: 1px solid #f1f1f1;
        --padding-top: 5px !important;
        --padding-start: 0px !important;
        --padding-bottom: 5px !important;
    }
    .boxes{
        border-bottom: 1px solid #f1f1f1;
        color: #000;
        font-size: 16px;
    }
    .icon{
        position: absolute;
        right: 10px;
        font-size: 24px;
        top: 36px;
        z-index: 999;
    }
    .icon-eye{
        position: absolute;
        right: 10px;
        color: grey;
        font-size: 24px;
        top: 30px;
        z-index: 999;
    }
}

// Dropdown
.item-dropdown{
    --padding-start: 0px; 
    --inner-padding-end: 0px;
    --background-activated: transparent;
    --background-focused: transparent;
 
    .lbl-dropdown{
         font-size: 13.6px;
         font-weight: bold;
         margin-bottom: 0px;
         color: #888;   
    }
    .btn-select{
        --padding-end: 0px;
        --padding-start: 0px;
        font-size: 16px;
        //color: #00aeef;
    }
}
.bg{
    // background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

// Radio Button
.div-que{
        
    .lbl-head{
        font-weight: bold;
        color: #888;
        margin-bottom: 0;
        font-size: 13.6px;
        display: inline-block;
        float: left;
        margin-top: 14px;
        margin-right: 14px;
    }
    .items-radio{
        display: inline-block;
        --padding-start: 0px;
        --background-activated: transparent;
        --background-focused: transparent;
                
        .lbl-radio{
            //font-weight: bold;
            font-size: 14px;
        }
    }
}

.head{
    padding-inline-start: 44px;
    padding-inline-end: 44px;
}
// .toast-wrapper.toast-bottom {
//     bottom: -10px !important;
// }
// .toast-msg{
//     --max-width: 100%;
//     --border-radius: 0px;
//     --start: 0px;
//     --end: 0px;
// }